#container-icon {
  /*   flex: 1; */
  display: flex;
  justify-content: center;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0px 80px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.icon {
  margin: 20px;
  width: 25px;
  height: 25px;
}

#title {
  margin-top: 30px;
  text-align: center;
  color: #364547;
  font-weight: bold;
  font-size: 40px;
  letter-spacing: -4%;
}

input {
  margin: 20px;
}

#input {
  display: flex;
  padding: 18.5px 14px;
  border-radius: 7px;
  border: none;
  outline: none;
}

#buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#btn {
  margin: 20px;
  text-transform: none;
  font-weight: bold;
  color: #fff;
  background-color: #364547;
  width: 250px;
  height: 40px;
  border-radius: 10px;
}

.input-class::-webkit-input-placeholder {
  /* Chrome, Safari, Opera */
  color: #000000;
  font-weight: bold;
  font-size: 20px;
}

.input-class:-moz-placeholder {
  /* Firefox */
  color: #000000;
  font-weight: bold;
  font-size: 15px;
}

html {
  height: 100vh;
  background-color: #ffe268;
}

* {
  font-family: "Darker Grotesque", sans-serif !important;
}

.container-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 430px) {
  #input {
    display: flex;
    padding: 18.5px 14px;
    border-radius: 7px;
    width: 100%;
    margin-left: -7%;
  }
}
